extends ./application.pug

block content
  .container
    h1 All Countries
    hr
    each country in countrys
      .card.card-block
        h4(class="card-title")= country.name + " " + country.languages
        p(class="card-text")= "Capital: " + country.capital
