extends ./application.pug

block content
  .container
    h1 All Countries
    hr
    each bear in bears
      .card.card-block
        h4(class="card-title")= bear.name + " " + bear.languages
        p(class="card-text")= "Capital: " + bear.capital
